
a, a:hover {
    text-decoration: none;
}

#header-nav {
    background-color: darkgrey;
    border-radius: 0;
    border: 0;
}

#header-container {
    border-bottom: 2px solid black;
}

.navbar-brand h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.50;
}

.navbar-brand {
    padding-top: 20px;
    padding-left: 20px;
    height: auto;
}

#navbar-menu-button {
    border-color: black;
    margin-top:10px;
}

#navbar-menu-button:hover, #navbar-menu-button.active {
    background-color: darkgrey;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

/* Navbar menu styles */

#navbar-collapse {
    font-family: 'Philosopher', sans-serif;
    border-top: 0;
}

#navbar-collapse li {
    font-size: 1.5em;
    background-color: lightgrey;
    border-bottom: 2px solid black;
    padding-top: 5px;
    padding-bottom: 4px;
}

#navbar-collapse li:nth-child(1) {
    border-top: 2px solid black;
}

#navbar-collapse li:nth-child(3) {
    border-bottom: 0px;
}

#navbar-collapse ul {
    margin-top: 0;
    margin-bottom: 0;
}

#navbar-collapse .navbar-nav>li>a {
    color: black;
}

#navbar-collapse .navbar-nav>li>a:hover {
    color: white;
}


/* Main content styles */
#main-content {
    font-family: 'Philosopher', sans-serif;
    color: black;
}

#main-content h2 {
    font-size: 1.75em;
}


#main-content .section-content {
    background-color: lightgrey;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

#main-content .section-content h3 {
    font-size: 1.5em;
}

#main-content .section-content p {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}